<meta name="viewport" content="width=device-width, initial-scale=1"/>
<% settings = (Setting.plugin_usability || {}) %>
<script type="text/javascript">

  RMPlus.Usability = (function(my){
    var my = my || {};
    <% if settings['use_autosave_fields'] %>
      my.msg_autosaved = '<%= escape_javascript(l(:label_usability_was_autosaved)) %>';
    <% end %>
    <% if settings['collapse_changes_for_history'] %>
      my.collapse_label = '<%= l(:label_usability_collapse_history) %>';
      my.expand_label = '<%= l(:label_usability_expand_history) %>';
    <% end %>
    my.settings = <%= settings.to_json.html_safe %>;

    my.galleryPopupSettings = {
      type: 'image',
      gallery: {
        enabled: true,
        navigateByImgClick: true,

        midClick: false,

        arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"></button>',
        tPrev: '<%= l(:magnificPopup_tPrev) %>',
        tNext: '<%= l(:magnificPopup_tNext) %>',
        tCounter: '<%= l(:magnificPopup_tCounter).html_safe %>'
      },
      image: {
        tError: '<%= l(:magnificPopup_tError).html_safe %>'
      },
      ajax: {
       tError: '<%= l(:magnificPopup_ajax_tError).html_safe %>'
      },
      tClose: '<%= l(:magnificPopup_tClose) %>',
      tLoading: '<%= l(:magnificPopup_tLoading) %>'
    };

    return my;
  })(RMPlus.Usability || {});

  <% if settings['custom_help_url'].to_s != '' %>

    $(document).ready( function () {
      $("#top-menu a.help:first").attr("href", "<%= settings['custom_help_url'] %>");
    });

  <% end %>

<% if settings['hide_toolbar_for_wiki_textareas'] %>
  $(document).ready( function () {
    $(document.body).on('click', 'textarea.wiki-edit', function(event) {
        $(event.target).parent().prev('.jstElements').show();
        });
    $(document.body).on('blur', 'textarea.wiki-edit', function(event) {
      setTimeout(function(){
        if ($(event.target)[0] !== document.activeElement){
          $(event.target).parent().prev('.jstElements').animate({opacity: 0}, 0, function() {$(this).hide(); $(this).css('opacity', 1)});
        }
      }, 200);
      });
    });
<% end %>

</script>

<%= javascript_include_tag 'raphael' %>
<%= javascript_include_tag 'pie-chart', plugin: :usability %>
<%= javascript_include_tag 'usability.js', plugin: :usability %>
<%= stylesheet_link_tag 'usability.css', plugin: :usability %>
<%= javascript_include_tag 'usability_clipboard', plugin: :usability if settings['use_copy_from_clipboard'] %>

<% if ['issues', 'sd_requests', 'kpi', 'kpi_user_surcharges', 'rm_news'].include?(controller.controller_name) %>
  <%= javascript_include_tag 'jquery.magnific-popup.min.js', plugin: :usability %>
  <%= stylesheet_link_tag 'magnific-popup.css', plugin: :usability %>
<% end %>

<% if settings['use_autosave_fields'] %>
  <%= javascript_include_tag 'fields_autosave', plugin: :usability %>
<% end %>

<% if settings['use_custom_project_members_form'] && controller_name == 'projects' && action_name == 'settings'%>
  <script type="text/javascript" charset="utf-8">
    RMPlus.Usability.custom_project_members_form = "<%= j render partial: 'hooks/usability/members_form' %>";

    $(document).ready(function () {
      <% if !settings['enable_ajax_project_settings'] || params[:tab] == 'members' %>
        RMPlus.Usability.use_custom_project_members_form();
      <% end %>

      $(document.body).on("click", "#tab-content-members a[data-method='delete']", function() {
        jQuery(document.body).data('ajax_emmiter', jQuery(this));
        $.ajax({
          method: "DELETE",
          url: this.href,
          dataType: "script"
        }).always(function() {
          RMPlus.Usability.use_custom_project_members_form();
        });
        return false;
      });
      $(document.body).on("submit", "#add_members_to_project, #edit_membership", function(e) {
        $.ajax({
          method: "POST",
          url: this.action,
          data: $(this).serialize(),
          dataType: "script"
        }).always(function() {
          RMPlus.Usability.use_custom_project_members_form();
        });
        e.preventDefault();
        return false;
      });
    });
  </script>
<% end %>


<% if settings['show_sidebar_close_button'].to_s != '' && settings['usability_sidebar_width'].to_i > 0 %>
  <style type="text/css">
    #content {
      margin-right: <%= settings['usability_sidebar_width'].to_i + settings['usability_sidebar_gap'].to_i %>px;
      width: auto;
    }
    #sidebar {
      width: <%= settings['usability_sidebar_width'].to_i %>px;
    }
  </style>
<% end %>

<% if settings['hide_toolbar_for_wiki_textareas'] %>
  <style type="text/css">
  .jstElements
    {
    display: none;
    }
  </style>
<% end %>
<% if controller_name == 'issues' && @issue && @use_static_date_in_history %>
  <script type="text/javascript">
    $(document).ready(function() {
      var author = $('.issue > .author');
      author.filter(function(){return $(this).prev().hasClass('subject') }).html("<%= escape_javascript(authoring(@issue.created_on, @issue.author)) %>. <% if @issue.created_on != @issue.updated_on %><%= escape_javascript(l(:label_usability_updated_time, time_tag([@issue.updated_on, true]))).html_safe %>.<% end %>");
    });
  </script>
<% end %>

<% if User.current.logged? && (settings['fast_link_top_page'] || {})['text'].present? %>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
        var fast_link = '<div id="us_fast_link_top_page_block" style="float: right;">';
        fast_link += '<%= escape_javascript(link_to("<span>#{(settings['fast_link_top_page'] || {})['text']}</span>".html_safe, (settings['fast_link_top_page'] || {})['url'], class: "#{(settings['fast_link_top_page'] || {})['icon']} #{(settings['fast_link_top_page'] || {})['icon'].start_with?('fa-') ? 'rm-icon' : 'us_icon'}", style: "color: #{(settings['fast_link_top_page'] || {})['color']}")) %>';
        fast_link += '</div>';
        fast_link = $(fast_link);
        $('#header h1').before(fast_link);
        fast_link.find(' a > span').css('border-bottom-color', fast_link.find('a').css('color').split(')')[0] + ', 0.40)');
      });
    </script>
<% end %>